{%extends 'base.html'%}

{% block content %}
{{block.super}}

<div style="" id="main" class="container-fluid blue " >

    <h1 style="text-align:center; color:rgb(253, 253, 253);" > <img float="right" src="" alt="" height="150px"> Hoodwatch</h1>
    <h6 style="text-align:center; color:rgb(253, 253, 253);">{{date|date:"l d-F Y"}}</h6>
    <div class="mail">
            <form role="search" action="{% url 'search_results' %}">
                <input type="text" name="username" class="formStyle" placeholder="Search" required >
                <button style="border:0px;" type="submit" class="formButton">Search</button>
        </form>
    </div>
 
    <div class="container">
        <hr>  <a href="{% url 'new_hood'%}"><button class="btn btn-outline-light btn-sm">Create a Hood</button></a>  <hr>
        <div class="row">
            {% for hood in hoods%}
                <div class="col-md-4 col-lg-4 col-sm-6 ">
                    <div style="" class="card">
                        <div style="text-align:center; color:antiquewhite; background-color:rgb(10, 10, 10);" class="card-header">
                            <h5>{{neighbourhood.name}}</h5>
                        </div>
                        <div style="text-align:center; background-color:rgb(10, 10, 10);" class="card-image">
                            
                                <img class="img-responsive" src="{{neighbourhood.image.url}}" alt="" height="200px" width="300px">
                            
                        </div>
                        <div style="background-color:rgb(10, 10, 10);" class="card-footer"> 
                            <a href="/hoods/{{ hood.id}}"> <button class="btn btn-outline-primary btn-sm">Join Hood &#8594;</button> </a>
                        </div>
                    </div>
                    <br>
                <br>
                </div>
                
            {% endfor%}
        </div>
    </div>         
  
{% endblock %}